server:
  port: ${SERVER_PORT:4000}

spring:
  application:
    name: scmtp-route-service

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5435/scmtp_route}
    username: ${SPRING_DATASOURCE_USERNAME:scmtp}
    password: ${SPRING_DATASOURCE_PASSWORD:scmtp}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false
    open-in-view: true

  graphql:
    path: /graphql
    graphiql:
      enabled: true
      allowed-origins: "http://localhost:3001,http://localhost:3000,http://127.0.0.1:3001,http://127.0.0.1:3000"

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
